<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

	<!-- 게시글 조회  -->
	<select id="selectBoardList"
			parameterType = "hashmap"
			resultType = "board">
	select board_no as boardNo,
		   board_writer as boardWriter,
		   board_type as boardType,
		   board_title as boardTitle,
		   board_Content as boardContent,
		   board_Date as boardDate,
		   board_like as boardLike,
		   board_dislike as boardDislike
	from (
	      select rownum rnum, a.* 
	      from
               ( 
	               select a.*
	               from tbl_board a
	               order by board_no desc
               ) a
	      ) a
	where rnum between #{start} and #{end}
	</select>
	
	<!-- 전체 게시글 개수 조회 -->
	<select id="selectBoardCount"
			resultType="_int">
	select count(*)
	from tbl_board		
	</select>
</mapper>

